<!DOCTYPE html>
<html>
<head>
  <%- include('../../layout/head'); -%>
</head>

<body>
  <img src="./../img/seattle.png">
  <h1>ABOUT US</h1>
<div>
<img src="./../img/kate.jpg" alt="Kate">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas ea molestiae cupiditate officia, molestias aspernatur possimus. Iusto, ad omnis, unde, cum iste nostrum quos laboriosam minima placeat nulla perspiciatis earum!</p>
</div>
<div>
<img src="./../img/Ellen.jpg" alt="Ellen">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas ea molestiae cupiditate officia, molestias aspernatur
  possimus. Iusto, ad omnis, unde, cum iste nostrum quos laboriosam minima placeat nulla perspiciatis earum!</p>
</div>
<div>
<img src="./../img/El.jpg" alt="Elhadji">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas ea molestiae cupiditate officia, molestias aspernatur
  possimus. Iusto, ad omnis, unde, cum iste nostrum quos laboriosam minima placeat nulla perspiciatis earum!</p>
</div>
<div>
<img src="./../img/images.png" alt="Coel">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas ea molestiae cupiditate officia, molestias aspernatur
  possimus. Iusto, ad omnis, unde, cum iste nostrum quos laboriosam minima placeat nulla perspiciatis earum!</p>
</div>
    <footer>
      <%- include('../../layout/footer'); -%>
    </footer>
</body>
</html>