<!DOCTYPE html>
<html>
<head>
    <%- include('../../layout/head'); -%>
</head>

<body>

    <header>
        <%- include('../../layout/header'); -%>
      </header>
    <main>
        <div id="eventInfo">

            <h3 id="eventName">demoName</h3>
            <h4 id="EventAvenue">demonAvenue</h4>
            <h4 id="eventDate">demonDate</h4>
            <img id="eventPhoto" src="" alt="nameEvent">
            <h4 id="eventAdress">demoAdress</h4>
            <p id="eventDescription">demoDescription</p>

        </div>
    </main>
    <footer>
        <%- include('../../layout/footer'); -%>
    </footer> 
   
</body>

</html>