<!DOCTYPE html>
<html>
<head>
    <%- include('../layout/head'); -%>

</head>

<body>

    <header>
        <%- include('../layout/header'); -%>
      </header>
    <main>
        <section class="task-view container">
           <ul id="task-list">
                <li class="task-item" data-id="<%= task.id %>">
                    <h2 id="name">Event Name</h2>
                    <h4 id="date">Date</h4>
                    <img id="image" src="" alt="">
                    <h4 id="venue">Venue</h4>
                    <p id="adress">Adress</p>
                </li>
            </ul>
        </section>
        </main>
    <footer>
        <%- include('../layout/footer'); -%>
    </footer> 
   
</body>

</html>