<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../layout/head'); -%>
</head> 
<header>
  <%- include('../layout/header'); -%>
</header>
  <body>
    <h1>So sorry! :(</h1>
    <footer>
      <%- include('../layout/footer'); -%>
    </footer>
    </body>

</html>