<!DOCTYPE html>
<html>
<head>
    <%- include('../layout/head'); -%>

</head>

<body>

    <header>
        <%- include('../layout/header'); -%>
      </header>
    <main>
        <h1>Seattle Events</h1>
        <div class="search-form">
            <form action="/searches" method="post">
              <input id="searchBar" type="text" name="search" placeholder="search">
              <button type="submit">Search Event</button>

            </form>
            <form action="">
                    <button type="click">events</button>

            </form>
        </div>
    </main>
    <footer>
        <%- include('../layout/footer'); -%>
    </footer> 
   
</body>

</html>