<!DOCTYPE html>
<html>
<head>
    <%- include('../layout/head'); -%>

</head>

<body>

    <header>
        <%- include('../layout/header'); -%>
      </header>
    <main>
        <div class="search-form">
            <form action="/search" method="get">
              <input id="searchBar" type="text" name="search" placeholder="search">
              <a href="/search"></a><button type="submit">Search Event</button></a>
            </form>
        </div>
    </main>
    <footer>
        <%- include('../layout/footer'); -%>
    </footer> 
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
</body>

</html>