*{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  } 
  html{
    background-color: #F2F2F2;
  }
  
 header{
text-align: center;
background-color: #1A3D43;
} 
body{
background-color: rgb(226, 224, 224);
}

a{
  text-decoration: none;
  font-family:'Bebas Neue', cursive;
  color: gray;

  
}
a:hover{
  color: black;
}
.logo{
  font-family:'Bebas Neue', cursive;
  font-size: 24px;
  color:whitesmoke;
}
.nav{
  display: inline;
  
  
}
p{
 font-family:'Bebas Neue', cursive; 
 color: rgb(109, 102, 102);
}
footer{
  background-color: #1A3D43;
}
.linkFooter:hover{
  color:whitesmoke;
}

/* ul{
  text-decoration: none;
} 
img{
  width: 150px;
  height: 100px;
}
.photo{
  width: 250px;
  height: 290px;
  border: 1px solid black;
  border-radius: 50%;
} */

/* footer{
   color: #344F73
   /* height: 40px; */
  
 } */