/* *{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  } */
  

  /* header{
text-align: center;
}

body {
  height: 97vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("../img/background.png");
   background-repeat: repeat-y;
  background-size: 100%;
} */

/* ul{
  text-decoration: none;
} 
img{
  width: 150px;
  height: 100px;
}
.photo{
  width: 250px;
  height: 290px;
  border: 1px solid black;
  border-radius: 50%;
} */

/* footer{
   color: #344F73
   height: 40px; 
  
} */

