.update, .view {
  color: black;
  background-color: white;
  border: none;
  border-radius: 3px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  float: right;
  font-size: 18px;
  font-family:'Bebas Neue', cursive;
  margin: 3px;
  transition: width 2s; /* ask Brian about this */
}

.update:focus, .view:focus {
  background-color: black;
  color: white;
}

#searchButton {
  border: none;
  border-radius: 3px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 18px;
  font-family:'Bebas Neue', cursive;
  margin: 3px;
}

#searchButton:focus, #searchButton:focus {
  background-color: black;
  color: white;
}

#searchBar {
  border: 1px solid black;
  border-radius: 3px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 18px;
  font-family:'Bebas Neue', cursive;
  margin: 3px;
  margin-left: 50px;
}
/*menu by category*/

.menu{z-index:1000000; font-weight:bold; font-size:1em; width:100%; background:#f1f1f1;  text-align:center; font-size:12px;}
.menu a {margin-top: 0; padding: 0; list-style-type: none; list-style-image: none;}
.menu a {display: block;   padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
 .menu a:hover{display: block;    background:#ffffff; padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu  a { text-decoration:none;  margin: 0px; color:#666;} 
.menu  a:hover {  color: #666; text-decoration:none;} */
.menu a{text-decoration:none; color:#666;}
.menu a:hover{text-decoration:none; color:#666;}