*{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header{
text-align: center;
}
body{
  min-height: 100vh;
  min-width: 100vw;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-image: url("../img/background.png");
  background-size: 100%;
  /* margin: 2%; */
}
ul{
  text-decoration: none;
} 
img{
  width: 150px;
  height: 100px;
}
form{
  text-align: center;
  margin-top: 150px;
}
footer{
  text-align: center;
}
main{
  /* height: auto; */
}
h1{
  font-family: 'Permanent Marker', cursive;
}
 footer{
   color: white;
   background-color: black;
 }

 
