*{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header{
text-align: center;
}
body{
  /* height: 96vh; */
  /* min-width: 97vw; */
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-image: url("../img/background.png");
  background-size: 100%;
  /* margin: 2%; */
}
ul{
  text-decoration: none;
} 
img{
  width: 150px;
  height: 100px;
}
.photo{
  width: 250px;
  height: 290px;
  border: 1px solid black;
  border-radius: 12px;
}
form{
  text-align: center;
  margin-top: 150px;
}
footer{
  /* text-align: center; */
  /* display: flex; */
  /* flex-direction: row;
  justify-content: space-around; */
}
main{
  /* height: auto; */
}
h1{
  font-family: 'Permanent Marker', cursive;
}
p{
  font-family: 'Permanent Marker', cursive;
}
 footer{
   color: whitesmoke;
  
  
 }
  a{
   text-decoration: none;
   /* font-family: 'Permanent Marker', cursive; */
   /* font-size: 18px;*/
   color: black;  
   /* border: 1px solid rgb(232, 243, 137); */
   /* background-color: rgb(240, 255, 253); */
   
 /* }
 a:hover{
   background-color: rgb(216, 199, 101);
 } */

}
@media screen and (max-width: 640px){
  .flex-container {
      display: flex;
  }    
  /* *{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
   */
  header{
  text-align: center;
  }
  body{
    /* height: 60vh; */
    /* min-width: 97vw; */
    /* border: 1px solid black; */
    /* display: flex;
    flex-direction: column;
    justify-content: space-around; */
    background-color: blueviolet;
    /* background-size: 100%; */
    /* margin: 2%; */
  }
  ul{
    text-decoration: none;
  } 
  img{
    width: 75px;
    height: 70px;
  }
  form{
    text-align: center;
    /* margin-top: 150px; */
  }
  footer{
    /* text-align: center; */
    /* display: flex; */
    /* flex-direction: row;
    justify-content: space-around; */
  }
  main{
    /* height: auto; */
  }
  h1{
    font-family: 'Permanent Marker', cursive;
  }
   footer{
     color: rgb(129, 9, 9);
     background-color: rgb(164, 196, 158);
     width: 100%;
     padding-bottom: 4px;
   }
  #formFooter{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

  }
}