<footer> 
  <form id="formFooter" action="/search" method="get">
    <div class="footerDiv"><a class="linkFooter" href="/">Home</a></div>
    <div class="footerDiv"> &copy;2019</div>
    <div class="footerDiv"><a class="linkFooter" href="/aboutUS">About US</a></div>
  </form>
</footer>