<footer> 
<<<<<<< HEAD
  <form id="formFooter" action="/search" method="get">
    <a href="/aboutUS">About US</a> 
    <span>Code Fellows &copy; 2019</span>
    <a href="/">Home</a>
=======
  <form action="/search" method="get">
    <span><a href="/aboutUS">About US</a></span>
    <span></span><a href="/">Home</a></span>
>>>>>>> a23085664cf0e1d0775507a2cea9edfe90d4f6b6
  </form>
 

</footer>