<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Seattle TO DO</title>
<link rel="stylesheet" type="text/css" href="/public/styles/reset.css">
<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/styles/style.css" />
<link rel="stylesheet" type="text/css" href="/public/styles/base.css">
<link rel="stylesheet" type="text/css" href="/public/styles/layout.css">
<link rel="stylesheet" type="text/css" href="/public/styles/module.css">