
<form action="/search" method="get">
  <input id="searchBar" type="hidden" name="search" value="music" >
  <a href="/search"></a><button type="submit">Music</button></a>
</form>
<form action="/search" method="get">
  <input id="searchBar" type="hidden" name="search"value="movie"  >
  <a href="/search"></a><button type="submit">Movies</button></a>
</form>
<form action="/search" method="get">
  <input id="searchBar" type="hidden" name="search"value="sport"  >
  <a href="/search"></a><button type="submit">Sport</button></a>
</form>
<form action="/search" method="get">
  <input id="searchBar" type="hidden" name="search" value="comedy" >
  <a href="/search"></a><button type="submit">Comedy</button></a>
</form>
<form action="/search" method="get">
  <input id="searchBar" type="hidden" name="search" value="bar">
  <a href="/search"></a><button type="submit">Drinks</button></a>
</form>
