
<div class="menu">
<form action="/search" method="get">
  <input id="searchBar" type="hidden" name="search" value="music" >
  <a class="nav-bar" href="/search">Music</a>
</form>
<form action="/search" method="get">
  <input id="searchBar" type="hidden" name="search"value="movie"  >
  <a class="nav-bar"href="/search">Movies</a>
</form>
<form action="/search" method="get">
  <input id="searchBar" type="hidden" name="search"value="sports"  >
  <a class="nav-bar" href="/search">Sports</a>
</form>
<form action="/search" method="get">
  <input id="searchBar" type="hidden" name="search" value="comedy" >
  <a class="nav-bar" href="/search">Comedy</a>
</form>
<form action="/search" method="get">
  <input id="searchBar" type="hidden" name="search" value="bars">
  <a class="nav-bar" href="/search">Drinks</a>
</form>
</div>

