<form action="/search" method="get">
  <input id="searchBar" type="hidden" name="search" value="music" >
  <a class="nav-bar" href="/search?search=music">Music</a>
</form>
<form action="/search" method="get">
  <input id="searchBar" type="hidden" name="search"value="movie"  >
  <a class="nav-bar"href="/search?search=movie">Movies</a>
</form>
<form action="/search" method="get">
  <input id="searchBar" type="hidden" name="search"value="sports"  >
  <a class="nav-bar" href="/search?search=sports">Sports</a>
</form>
<form action="/search" method="get">
  <input id="searchBar" type="hidden" name="search" value="comedy" >
  <a class="nav-bar" href="/search?search=comedy">Comedy</a>
</form>
<form action="/search" method="get">
  <input id="searchBar" type="hidden" name="search" value="bars">
  <a class="nav-bar" href="/search?search=bars">Drinks</a>
</form>

